.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_content > button{
   background-color: rgb(111, 111, 252);
   color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
